useDynLib(poistree, .registration=TRUE)

importFrom(Rcpp, evalCpp)

export(ppt_diagnostics)
export(ppt_fit)
export(ppt_lambda)
export(ppt_lppd)
export(ppt_marginal)
export(ppt_predict)
export(ppt_sim)

S3method(plot, ppt)
S3method(plot, ppt_diagnostics)
S3method(predict, ppt)
S3method(print, ppt)
S3method(print, ppt_diagnostics)
S3method(print, summary.ppt)
S3method(summary, ppt)

export(ppt_fit_quadrature)
